<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Application"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_profile"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:parentActivityName=".CRUD">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:parentActivityName=".CRUD">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CRUD"
            android:exported="false"
            android:parentActivityName=".adminActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CRUDUser"
            android:exported="false"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".adminActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".booking.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".booking.AddBookingDetail"
            android:exported="false" />
        <activity
            android:name=".booking.AdminAddBookingDetail"
            android:exported="false" />
        <activity
            android:name=".booking.adminBookingActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".feedback.FeedbackMain"
            android:exported="false" />
        <activity
            android:name=".feedback.ViewCourses"
            android:exported="false" />
        <activity
            android:name=".feedback.AdminViewCourses"
            android:exported="false" />
        <activity
            android:name=".feedback.UpdateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".feedback.AdminFeedbackViewCourses"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>